.btn-medium {
  font-family: Open Sans;
  border: 1px solid $black;
  color: $black;
  padding: 10px 15px;
  border-radius: 20px;
  font-weight: 100;
  opacity: 0.4;
  text-decoration: none;
  transition: opacity 0.3s ease, letter-spacing 0.3s ease;
  &:hover {
    text-decoration: none;
    color: $black;
    opacity: 0.9;
  }
  &:focus {
    color: $black;
    border-color: $black;
    outline: none;
    text-decoration: none;
  }
  &:visited {
    color: $black;
    border-color: $black;
  }
}

// btn.expat

$border-radius: 3px;

$border-bottom-initial: 3px;
$border-bottom-hover: 2px;
$border-bottom-active: 0px;

.btn-expat {
  position: relative;
  background: $orange;
  padding: 10px 20px;

  color: white;
  text-transform: uppercase;
  font-weight: bold;

  border-radius: $border-radius;
  border-bottom: $border-bottom-initial solid darken($orange, 20%);

 &:hover {
    top: $border-bottom-initial - $border-bottom-hover;
    border-bottom: $border-bottom-hover solid darken($orange, 20%);
  }

  &:active {
    top: $border-bottom-initial;
    border-bottom: $border-bottom-active solid darken($orange, 20%);
  }

  &:hover, &:active, &:focus, &:visited {
    text-decoration: none;
    color: white;
  }
}