
#footer {
  background-color: #f4f4f4;
  border-top: solid 1px $gray-lighter;
  text-align: center;
  height: 100px;
  padding-top: 40px;
  font-size: 15px;
  opacity: 1px;

  a {
    text-decoration: none;
    transition:letter-spacing 0,2s ease;
    color: $gray;
    font-weight:300;
  }
  a:hover {
      color: $purple;
      letter-spacing: 1px;
  }

  li {
    width: 300px;
  }
}