/* -------------------------------------
 * Utilities classes
 * ------------------------------------- */
.padded {
  padding-top: 8em;
  padding-bottom: 8em;
}

.bg-black {
  background-color: $black;
  color: white;
}

.padded-side {
  padding-left: 2em;
  padding-right: 2em;
}