---
title: L'équipe EXPATEO
---


<div class="padded text-center bg-black">
  <h2><span>Notre équipe</span></h2>
  <ul class="list-inline text-center" id="team">
   <li>
     <%= image_tag "claire.jpg", class: "img-rounded" %>
     <p>Mélik BOUDEMAGH</p>
   </li>
   <li>
     <%= image_tag "claire.jpg", class: "img-rounded" %>
     <p>Claire PINATEL</p>
   </li>
   <li>
     <%= image_tag "patrice.jpg", class: "img-rounded" %>
     <p>Patrice BERQUET</p>
   </li>
  </ul>
</div>