---
title: L'équipe EXPATEO
---


<div class="padded text-center bg-black padded-side">
  <h2><span>Notre équipe</span></h2>
  <p>Nous sommes une équipe experts de la mobilité internationale passionés par les nouvelles technologies. Notre ambition est de fournir aux personnes en mobilité internationale des solutions innovantes pour facilier leur départ en expatriation.C'est pour cela que nous avons développé une technologie permettant de résilier et gérer ses contrats simplement et de façon sécurisée. En simplifiant ses démarches au départ, l'expatrié peut se concentrer sur des tâches plus importantes pour lui et sa famille.
  </p>
  <div class="container" id="team">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="card text-center">
          <%= image_tag "claire.jpg", class: "img-rounded" %>
          <h3>Mélik BOUDEMAGH</h3>
          <p>Après un passage sur les marchés financiers à NYC et Londres, Melik s’est spécialisé dans la gestion de la mobilité internationale, en créant notamment une agence de relocation. Il accompagne et conseille les plus grands groupes français dans toutes leurs démarches de gestion d’expatriés depuis 2005. Il parle quatre langues et a vécu et travaillé dans 8 pays différents</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="card text-center">
          <%= image_tag "claire.jpg", class: "img-rounded" %>
          <h3>Claire PINATEL</h3>
          <p>Claire est diplomée d'Audencia et a complété sa formation à l'ESSEC. Elle a 13 ans d’experience en financement d'entreprises dans le secteur bancaire et dans le conseil en stratégie. Elle connait bien les besoins des personnes vivant une mobilité internationale; ella a été elle-même expatriée dans 4 pays et partage aujourd'hui sa vie entre Paris et Istanbul.
           </p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="card text-center">
          <%= image_tag "patrice.png", class: "img-rounded" %>
          <h3>Patrice BERQUET</h3>
          <p>Patrice a 20 ans d’expérience dans le développement d’applications ou de logiciels en entreprises. Il connait bien la mobilité internationale et a déjà développé avec Melik un logiciel de gestion d’immigration et de relocation servant d'interface entre les équipes RH mobilité internationale, les collaborateurs et les consultants qui accompagnent ces derniers.</p>
        </div>
      </div>
    </div>
  </div>
</div>


