---
title: Page d'accueil Expateo
---


<div id="banner" class="smooth-scrollable">
  <div id="video-container">
    <video autoplay="autoplay" muted="muted" preload="auto" style="width: 1435px; height: 807.1875px; margin-top: -162.09375px; margin-left: 0px;">
        <source src="videos/background.mp4" type="video/mp4">
        <source src="videos/background.webm" type="video/webm">
    </video>
  </div>
  <div id="catcher-container">
    <h1>EXPATEO</h1>
    <p>Pour un départ serein</p>
    <p>Simplifiez les démarches de vos expatriés</p>
    <br>
    <a href="#" class="btn-expat">
      <i class="fa fa-video-camera"></i> Comment ça marche?
    </a>
  </div>
  <a href="#infos"><i class="fa fa-angle-down pulse scroll-btn"></i></a>
</div>

<div class="bg-black text-center padded smooth-scrollable" id="infos">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <%= image_tag "dossier.png" %>
        <h2><span>Saisir ses informations</span></h2>
        <ul>
          <li >Saisie intuitive et optimisée des informations pour chaque type de contrat</li>
          <li>Accompagnement pas à pas à chaque étape de la procédure</li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-4">
        <%= image_tag "courrier.png" %>
        <h2><span>Résilier ses contrats</span></h2>
        <ul>
          <li>Procédures spécifiques au mode de résiliation et au fournisseur</li>
          <li>Génération et envoi automatiques des recommandés et rappel des échéances</li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-4">
        <%= image_tag "tache.png" %>
        <h2><span>Suivre ses résiliations</span></h2>
        <ul>
          <li>Accès à un ensemble d’outils de gestion (tableau de bord, alertes, etc.)</li>
          <li>Archivage automatisé des courriers et des preuves de dépôt</li>
        </ul>
      </div>
    </div>
  </div>
  <a href="#contact"><i class="fa fa-angle-down pulse"></i></a>
</div>

<div class="text-center padded container smooth-scrollable" id="contact">
  <h2>En savoir plus sur EXPATEO</h2>
  <p>Laissez-nous vos coordonnées et nous vous re-contacterons</p>
  <form>
    <div class="row">
      <div class="col-xs-12 col-sm-3">
          <div class="form-group">
            <label for="exampleInputName2">Nom</label>
            <input type="text" class="form-control" id="exampleInputName2" placeholder="Jane Doe">
          </div>
      </div>
      <div class="col-xs-12 col-sm-3">
        <div class="form-group">
          <label for="exampleInputEmail2">Email</label>
          <input type="email" class="form-control" id="exampleInputEmail2" placeholder="jane.doe@example.com">
        </div>
      </div>
      <div class="col-xs-12 col-sm-3">
        <div class="form-group">
          <label for="exampleInputtel2">Téléphone</label>
          <input type="text" class="form-control" id="exampleInputName2" placeholder="06 12 34 56 78">
        </div>
      </div>
      <div class="col-xs-12 col-sm-3">
        <div class="form-group">
          <label for="exampleInputtel2">Entreprise</label>
          <input type="text" class="form-control" id="societe" placeholder="Societe">
        </div>
      </div>
    </div>
    <button type="submit" class="btn-medium">Envoi</button>
  </form>
</div>


<div id="map" style="width: 100%; height: 400px;"></div>

  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>

  <script type="text/javascript">
  var myLatlng = new google.maps.LatLng(48.852937,2.364178);

  var myOptions = {
    zoom: 16,
    center: myLatlng,
    scrollwheel: false,
    mapTypeId: google.maps.MapTypeId.ROADMAP,
    styles: [{"featureType":"administrative","elementType":"labels.text.fill","stylers":[{"color":"#444444"}]},{"featureType":"landscape","elementType":"all","stylers":[{"color":"#f2f2f2"}]},{"featureType":"poi","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"road","elementType":"all","stylers":[{"saturation":-100},{"lightness":45}]},{"featureType":"road.highway","elementType":"all","stylers":[{"visibility":"simplified"}]},{"featureType":"road.arterial","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"transit","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"water","elementType":"all","stylers":[{"color":"#46bcec"},{"visibility":"on"}]}]
  };

  var map = new google.maps.Map(document.getElementById('map'), myOptions);
  var marker = new google.maps.Marker({
    position: myLatlng,
    map: map,
    title:"You are here!"
  });
  </script>


<script>
  // var btn = $('.btn-expat')
  // var textInit = btn.text()
  // btn.hover(function(){
  //   $(this).text("C'est parti !!");
  // }, function(){
  //   $(this).text(textInit)
  // })
</script>